<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link rel="stylesheet" href="../assets/css/v_contact.css" />
  </head>

  <body>
    <nav>
      <a href="./v_home.html">Home</a>
      <a href="./v_projects.html">Projects</a>
      <a href="./v_exp.html">Experience</a>
      <a href="./v_contact.html">Contact Details</a>
    </nav>
    <div class="center">
      <p>Contact me on below links</p>
      <div class="contact-links center">
        <a href="mailto:someone@example.com"
          ><img src="../assets/img/git_default.png" alt="GitHub"
        /></a>
        <a href="mailto:emmanueljosephellaga@gmail.com"
          ><img src="../assets/img/gmail_default.png" alt="Gmail" /></a
        ><a href="mailto:emmanuel-joseph.ellaga@hotmail.com"
          ><img src="../assets/img/outlook_default.png" alt="Hotmail"
        /></a>
      </div>
    </div>
  </body>
</html>
